@font-face {
    font-family: NovecentosanswideBold;
    src: url(../assets/fonts/Novecentosanswide-Bold-webfont.woff) format('woff'), 
    	 url(../assets/fonts/Novecentosanswide-Bold-webfont.woff2) format('woff2');
}

@font-face {
    font-family: NovecentosanswideDemiBold;
    src: url(../assets/fonts/Novecentosanswide-DemiBold-webfont.woff) format('woff'), 
    	 url(../assets/fonts/Novecentosanswide-DemiBold-webfont.woff2) format('woff2');
}

@font-face {
    font-family: 'Novecentosanswide-Book';
    src: url('../assets/fonts/Novecentosanswide-Book-webfont.woff2') format('woff2'), 
    	 url('../assets/fonts/Novecentosanswide-Book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Novecentosanswide-Medium';
    src: url('../assets/fonts/Novecentosanswide-Medium-webfont.woff2') format('woff2'),
         url('../assets/fonts/Novecentosanswide-Medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Novecentosanswide-Normal';
    src: url('../assets/fonts/Novecentosanswide-Normal-webfont.woff2') format('woff2'),
         url('../assets/fonts/Novecentosanswide-Normal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*{	
    font-family: Novecentosanswide-Medium;
	text-transform: uppercase;
}

html{
/*  position: relative;
  min-height: 100%;*/
}

body:before, body:after {
    content: "";
    position: fixed;
    background-image: -moz-linear-gradient(bottom right,rgb(255,148,204),rgb(255,179,63),rgb(0,195,255),rgb(174,234,95));
	background-image: -webkit-linear-gradient(bottom right,rgb(255,148,204),rgb(255,179,63),rgb(0,195,255),rgb(174,234,95));
    left: 0;
    right: 0;
    height: 2px;
}
body:before {
    top: 0;
}
body:after {
    bottom: 0;
}
body {	
	min-height: 100vh;
	display: flex;
	flex-direction: column;;
/*    border-left: -webkit-linear-gradient(left bottom,rgb(255,148,204),rgb(255,179,63),rgb(0,195,255),rgb(174,234,95));
    border-right: -webkit-linear-gradient(right bottom,rgb(255,148,204),rgb(255,179,63),rgb(0,195,255),rgb(174,234,95));*/
/*    border-left:	2px solid rgb(255,148,204);  
    border-right:	2px solid rgb(174,234,95);*/
}

h2{
	color: #f299f3;
	font-size:11px;
	letter-spacing: 5px;
	line-height: 21px;
	text-align: justify;
}

h3{
	color: #f299f3;
	font-size:10px;
	letter-spacing: 3px;
	line-height: 16px;
}

ul{
	list-style-type: none;
	padding: 0;
}

li{
	letter-spacing: 4px;
    font-family: NovecentosanswideDemiBold;
    font-size: 8.8pt;
}

a:hover, a:active{
	color:#ff94cc;
	text-decoration: none;
}

form{
	margin: 0;
	padding: 0;
}

p{
	color: #f299f3;
	font-size:11px;
	letter-spacing: 5px;
	line-height: 21px;
	text-align: justify;
}

.mark, mark{
	padding: 0 !important;
	background-color:none !important;
}

.col-md-auto{
	width: fit-content;
}

.mt-10 {
  margin-top: 5rem !important;
}

.push{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 1px;
}

.container-fluid{
	background-image: -moz-linear-gradient(bottom right,rgb(255,148,204),rgb(255,179,63),rgb(0,195,255),rgb(174,234,95));
	background-image: -webkit-linear-gradient(bottom right,rgb(255,148,204),rgb(255,179,63),rgb(0,195,255),rgb(174,234,95));
	padding: 2px;
	min-height: 100vh;
}

.container-fluid > div{
	background: #000;
}

.reset{
	padding:0 15px;
	height: 100vh;
	overflow: auto;
	position: relative;
}

.logo{
	height: 100%;
	width: 100%;
}

.number{
	font-size: 13px;
}

.social-icon img{
	width: 65px;
}

.green{
	color:#aeea5f;
}

.blue{
	color:#00c3ff;
}

.yellow{
	color:#FFFF39;
}

.orange{
	color:#FFB542;
}

.peach{
	color:#FFDEF7;
}

.red{
	color:#f92a53;
}

mark.green{
	color:#aeea5f;
}

mark.blue{
	color:#00c3ff;
}

mark.yellow{
	color:#FFFF39;
}

mark.orange{
	color:#FFB542;
}

mark.peach{
	color:#FFDEF7;
}

mark.red{
	color:#f92a53;
}

input[type="email"]{
	text-align: center;
}

input[type="email"]::placeholder{
	color: #ffb33f;
}

button[type="submit"]{
	/*background-image: -webkit-linear-gradient(top right,rgb(255,148,204),rgb(255,179,63),rgb(0,195,255),rgb(174,234,95));*/
	background-color: #FF93CE;
	border: none;
	border-radius: 3px;
}

.custom-select.is-invalid, .form-control.is-invalid, .was-validated .custom-select:invalid, .was-validated .form-control:invalid {
    border-color: #ffb33f;
}

#logo-col{
	top: 30px;
	bottom: 0;
}

article{
	color: #fff;
}

article h3 a{
	font-size: 25px;
	letter-spacing: normal;
	color: #fff;
}

article h3 a:hover,
article h3 a:active{
	color: #f92a53;
}

article h3 a:hover:nth-child(2), 
article h3 a:active:nth-child(2){
	color: #aeea5f;
}

article .img-container{
	/*width: 445px;*/
	overflow: hidden;
}

article img{
	/*width: 450px;*/
	transition: left 0.3s ease-out,
				top 0.3s ease-out,
  				width 0.3s ease-out,
  				height 0.3s ease-out, 
  				transform 5s ease-out 0.3s,
  				opacity 3s;
}

article img:hover{
	transform: scaleX(1.2) scaleY(1.2);
	opacity: 0.7;
}

article .row{
	margin-bottom: 50px;
}

article .blog-summary p{
	font-size: 15px;
	color: #FFF;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	font-family: sans-serif;
}

article .blog-date{
	letter-spacing: normal;
	margin: 0;
}

article.entry h1{
	color: #aeea5f;
}

article.entry img{
	width: 100%;
	margin:25px auto 50px auto;
}

article.entry img:hover{
	transform: none;
	opacity: 1;
}

article.entry p{
	font-size: 15px;
	color: #FFF;
	line-height: 1.7;
	letter-spacing: normal;
	text-align: left;
	font-family: sans-serif;
}


.footer li{
	padding: 0;
	float: left;
	/*margin:0 0 0 10px;*/
}

/* Menu */

#menu-container{
	position: fixed;
	font-family: "Avenir Next", "Avenir", sans-serif;
	z-index: 100;
}

#menu-container a{
  text-decoration: none;
  color: #FFF;
  transition: color 0.3s ease;
}

#menu-container a:hover {
  animation: colorchange 10s infinite;
  -webkit-animation: colorchange 10s infinite;
}

#menu-container a:nth-child(even):hover {
  animation: colorchangerev 10s infinite;
  -webkit-animation: colorchangerev 10s infinite;
}

@keyframes colorchange{
  0%   {color: #FFB542;}
  25%  {color: #AEEA5F;}
  50%  {color: #f92a53;}
  75%  {color: #FFDEF7;}
  100% {color: #FFB542;}
}

@-webkit-keyframes colorchange {
  0%   {color: #FFB542;}
  25%  {color: #AEEA5F;}
  50%  {color: #f92a53;}
  75%  {color: #FFDEF7;}
  100% {color: #FFB542;}
}

@keyframes colorchangerev{
  0%   {color: #00C3FF;}
  25%  {color: #FFFF39;}
  50%  {color: #FFDEF7;}
  75%  {color: #F92A53;}
  100% {color: #AEEA5F;}
}

@-webkit-keyframes colorchangerev {
  0%   {color: #00C3FF;}
  25%  {color: #FFFF39;}
  50%  {color: #FFDEF7;}
  75%  {color: #F92A53;}
  100% {color: #AEEA5F;}
}

#menu-container #menuToggle{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menu-container #menuToggle input{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menu-container #menuToggle span{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #FFF;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menu-container #menuToggle span:first-child{
  transform-origin: 0% 0%;
}

#menu-container #menuToggle span:nth-last-child(2){
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menu-container #menuToggle input:checked ~ span{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #f92a53;
}

/*
 * But let's hide the middle one.
 */
#menu-container #menuToggle input:checked ~ span:nth-last-child(3){
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menu-container #menuToggle input:checked ~ span:nth-last-child(2){
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu-container #menu{
  position: absolute;
  width: 300px;
  margin: -77px 0 0 -50px;
  padding: 50px;
  padding-top: 90px;
  background: transparent;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu-container #menu li{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menu-container #menuToggle input:checked ~ ul{
  transform: none;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 568px) {
	.reset{
		height: 100vh;
		overflow: auto;
	}

	h2{
		text-align: justify;
	}

	article .row h3{
		margin: 0;
	}

	article .row h3 a{
		font-size: 16px;
	}

/*	.mt-7{
		margin-top: 7rem!important;
	}*/

}

@media (min-width: 568px) and (orientation:portrait){
	.mt-6{
		margin-top: 4rem!important;
	}

	.mt-7{
		margin-top: 7rem!important;
	}

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (orientation:landscape){
	.reset{
		height: 100vh;
		overflow: auto;
	}

	h2{
		text-align: justify;
	}

	.mt-6{
		margin-top: 4rem!important;
	}

	.mt-7{
		margin-top: 7rem!important;
	}

	#logo-col{
		position: fixed;
	}

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (orientation:landscape){
	.reset{
		height: 100vh;
		overflow: auto;
	}

	h2{
		text-align: justify;
	}

	.mt-6{
		margin-top: 4rem!important;
	}

	.mt-7{
		margin-top: 7rem!important;
	}

	#logo-col{
		position: fixed;
	}

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (orientation:landscape){
	.reset{
		height: 100vh;
		overflow: auto;
	}

	.mt-6{
		margin-top: 7rem!important;
	}

	.mt-7{
		margin-top: 7rem!important;
	}

	#logo-col{
		position: fixed;
	}
}

@media screen and (orientation:portrait) {
	.reset{
		height: 100vh;
	}
}

/*@media screen and (orientation:landscape) {
	.reset{
		height: auto;
	}
}*/