{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}
<div class="container-fluid">
    <div class="reset">
      <div class="row mt-6">
        <div class="col-sm">
          <div class="row mt-7">
            <div class="col">
              <a href="{{ siteUrl }}"><img src="{{ siteUrl }}assets/images/logo_dance.gif" class="img-fluid mx-auto d-block"/></a>
            </div>
      		</div>
        </div>
        <div class="col-sm-7">
          <div class="row mt-3 mx-auto">
            <div class="col-12">
              <h2>{{ entry.body }}</h2>
              <!-- <h2>AN <span class="yellow">INCLUSIVE</span>, <span class="blue">ONE-OF-A-KIND</span> HUB FOR <span class="green">FILM LOVERS</span>, <span class="orange">FILMMAKERS</span>, <span class="yellow">AND ANYONE CURIOUS ABOUT CINEMA</span>, VIDIOTS IS BRINGING VIDEO STORE CULTURE INTO THE 21ST CENTURY!</h2>
              
              <h2>FOUNDED IN <span class="number">1985</span>, VIDIOTS IS DEDICATED TO <span class="green">PRESERVING</span>, <span class="blue">GROWING</span>, AND <span class="orange">PROVIDING ACCESS</span> TO OUR DIVERSE, <span class="number red">50,000+</span> TITLE DVD, BLURAY, AND RARE VHS LIBRARY. WE SHOWCASE THE WORK OF <span class="blue">EMERGING</span> AND <span class="yellow">MASTER ARTISTS</span>, AND PRODUCE UNIQUE FILM EDUCATION PROGRAMS AND EVENTS. COMING SOON: VIDIOTS WILL RELAUNCH ITS BRICK-AND-MORTAR AS AN EXPANDED FILM SPACE IN LOS ANGELES.</h2>

              <h2><span class="blue">JOIN OUR</span> <span class="red">MAILING LIST</span> <span class="blue">AND FOLLOW US ON OUR</span> SOCIAL ACCOUNTS FOR EVENTS, PROGRAMMING, AND UPDATES.</h2> -->
            </div>
          </div>
          <div class="row mx-auto mt-5">
            <div class="col-12">
              <div class="input-group has-warning has-feedback mb-3">
                <form class="input-group" action="{{ siteUrl }}database/email.php" method="POST">
                  <input name="email" type="email" class="form-control is-invalid" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="E-MAIL" multiple required>
                  <button class="btn btn-primary" type="submit">Sign me up!</button>
                  <div class="valid-feedback">Looks good!</div>
                </form>
              </div>
            </div>
          </div>
          <div class="row mx-auto mt-1">
            <div class="col-12 col-xl-10 mt-3 mx-auto">
              <h3>Vidiots is a registered 501(c)3 non-profit. For questions email: <a href="mailto:info@vidiotsfoundation.org?Subject=Vidiots%20interest" target="_top">info@vidiotsfoundation.org</a></h3>
            </div>
          </div>
          <div class="row mx-auto mt-3">
            <ul class="list-inline mx-auto">
               <li class="list-inline-item"><a class="social-icon img-fluid text-xs-center" target="_blank" href="https://www.facebook.com/vidiotsvideo/"><img src="{{ siteUrl }}assets/icons/fbook_black.png" alt="Facebook" /></a></li>
               <li class="list-inline-item"><a class="social-icon img-fluid text-xs-center" target="_blank" href="https://twitter.com/vidiots"><img src="{{ siteUrl }}assets/icons/tweet_black.png" alt="Twitter" /></a></li>
               <li class="list-inline-item"><a class="social-icon img-fluid text-xs-center" target="_blank" href="https://www.instagram.com/vidiots/"><img src="{{ siteUrl }}assets/icons/gram_black.png" alt="Instagram" /></a></li>
            </ul>
          </div>
          <div class="row mx-auto">
            <ul class="list-inline mx-auto">
              <li class="list-inline-item mx-auto blue">&copy;{{ now.year }}. {{ siteName }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
